<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Agrega tus meta y enlaces de estilo aquí -->
    <title>{{ publicacion.titulo }}</title>
    <style>
        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h1 {
            color: blue;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{ publicacion.titulo }}</h1>
    <p>{{ publicacion.texto }}</p>
    <p>{{ publicacion.fecha }}</p>
</body>
</html>
