<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Diario</title>
</head>
<body>
    <h1>Mi Diario de Vida</h1>
    {% if publicaciones %}
        {% for publicacion in publicaciones %}
            <p>
                <b>{{ publicacion.titulo }}</b>
                ({{ publicacion.fecha }}): 
                {{ publicacion.texto }}
            </p>
        {% endfor %}
    {% else %}
        <b>No hay publicaciones disponibles</b>
    {% endif %}
</body>
</html>